* { all: initial; }
title {

    display: none;
}

header {
    margin: auto;
    width: 100%;
    display: block;
    padding-top: 5px;

}

body {
    width: 100%;
    display: block;
    padding-left: 10px;
}

h1 {
    padding-top: 15px;
    padding-bottom: 15px;
    display: block;
    font-size: 2em;
    font-weight: bold;
}
h2 {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.5em;
    font-weight: bold;
    display: block;
}
h3 {
    font-size: 1.2em;
    font-weight: bold;
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
}

a {
    color: blue;
}
ul {
    padding-bottom: 20%;
    list-style: disc;
}
nav {

    text-decoration: underline;
}
li {
    display: block;
    padding-left: 20px;
}
p {
    padding:20px 0px 20px 0px;
    display: block;
}
blockquote{
    display: block;
    padding-left: 2%;
}
cite {
    font-style: italic;
    display: block;
    padding-bottom: 10px;
}
table, th, td {
    border-collapse: collapse;
  }
th, td {
    padding: 5px;
  }

  table {
      width: 100%;
  }
  #columns {
      vertical-align: top;
  }

  #cellOnes {
    display: block;

  }
  #cellTwos {
    display: block;

  }
  #cellThrees {
    display: block;

  }

  dt {
    display: block;
  }

  dd {
    display: block;
    padding-left:  2%;
  }

  footer{
      display: block;
      padding-top: 20px;
    }
    small {
        font-size: 0.7em;
  }